.card {
  
  /* Add shadows to create the "card" effect */
  box-shadow: 0 14px 18px 0 #00000033;
  transition: 0.3s;
  
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 18px 16px 0 #00000033;
}

/* Add some padding inside the card container */
.container {
  
  padding: 2px 16px;
}

.container-projetos{
  max-width: 100%;
  justify-content: center;
  display:flex;
  margin-top: 40px;
}
.card .card-img{
  max-width:20px;
  max-height:15px;
  width: auto;
  height: auto;
}
.card-text{
  color: rgb(255, 255, 255);
}
.container-page{
  display:flexbox;

  align-items: center;
  background-color: rgb(24, 24, 24);
  justify-content: center;


}
.container-initial{
  display: flex;
  margin-top: 60px;
  justify-content: center;
  color: #ffff;
  font-size: 20px;
}
 .container-icons{
  display: flex;
  float: left;
}
.strong-name{
  color: #fff;
  border-bottom: 2px solid #1859d2;
  padding-bottom: 1px;
  font-size: 25px;
}
.container-sobre{
  max-width: 100%;
  justify-content: center;
  text-align: left;
  display: flex;
  color:#ffff;
  background-color: #313131;
  box-shadow: 0px 25px 25px 0 #00000033;
  font-family: Arial, Helvetica, sans-serif;
}
.container-sobre .descricao{
  margin-left: 40px;
}
.conhecimentos{
  display: flex;
  max-width: 100%;
  justify-content: center;
  justify-items: center;

}
.item-c{
  width: 200px;
  background-color: rgb(56, 56, 56);
  box-shadow: 5px 3px 5px #ffffff33;
  transition: 0.3s;
  color: white;
  text-align: center;
  font-family:monospace;
  margin-left: 15px;


}
.icons{
  margin-top: 20px;
  text-align: center;
  color:#1859d2;
}


html {
  scroll-behavior: smooth;
}
:target {
  scroll-margin-top: .8em;
}